header
{
    background-color: #00247d;
    color: White;
    padding: 20px 20px;
    text-align: center;
}

.description
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bio
{
    text-align: center;
    max-width: 95%;
}

article
{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #c3c3c3;
    display: flex;
    justify-content: center;      /* align-items: center; */
    flex-direction: column;
}

main
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@media screen 
{
    body
    {
        background-image: url("https://www.freepik.com/free-vector/red-star-background-design_1156683.htm#fromView=search&page=1&position=14&uuid=54daddb8-7081-4e04-bb67-294a78f724fb");
    }
}

a 
{
    color: red;
}

@media print 
{
    header
    {
        display: none;
    }
}

nav ul
{
    list-style: none;
    padding: 0;
}

a
{
    color:#36AE7C;
}

nav ul li
{
    display: inline;
    margin-right: 10px;
}

section
{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    text-align: left; /* Keeps the text aligned to the left */
}

section.OurValues
{
    max-width: 800px;
    width: 85%; /* Ensure section takes up available width */
}


p, h2, h4
{
    text-align: left;
}


.paid 
{
    padding-bottom: 3px;
}

footer
{
    font-family: Arial, sans-serif;
    text-align: Left;
    word-wrap: break-word;
    padding: 10px;
    line-height: 16px;
    background-color: #00247d;
    color: white;
}
