body
{ 
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

@media screen 
{

    body
    {
        background-image: url("../images/fabric-of-squares.png");
    }
}

a 
{
    color: red;
}

header
{
    background-color: #00247d;
    color: White;
    padding: 20px 20px;
    text-align: center;
}
@media print 
{
    header
    {
        display: none;
    }
}

nav ul
{
    list-style: none;
    padding: 0;
}

a
{
    color:#36AE7C;
}

nav ul li
{
    display: inline;
    margin-right: 10px;
}

section
{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
}

section#home
{
    max-width: 1000px;
}

footer
{
    font-family: Arial, sans-serif;
    text-align: Left;
    word-wrap: break-word;
    padding: 10px;
    line-height: 0.1em;
    background-color: #00247d;
    color: white;
}

.description
{
    max-width: 85%;
}

p, h2, h4
{
    text-align: left;
}
